---
---
@import url(https://fonts.googleapis.com/css?family=Droid+Serif)
@import url(https://fonts.googleapis.com/css?family=Lora)
@import typography

body
    font-family: 'Lora', serif


#navigation
    h1
        font-family:    'cmu_sans_serif_demi_condemiCn', serif
        padding:        0
        margin:         0
    a
        font-family:    'cmu_sans_serif_demi_condemiCn', serif
        color:          black
        display: block
        padding: 6px 12px

    ul
        margin: 0
        padding: 0
        list-style: none

    li
        display: inline-block

hr.strong
    padding: 0
    border: none
    border-top: medium double #555
    text-align: center

h1,h2,h3
    font-family: 'cmu_sans_serif_demi_condemiCn', serif

p
    text-align: justify

#center
    margin-left: auto
    margin-right: auto
    width: 500pt