---
---
@import url(https://fonts.googleapis.com/css?family=Droid+Serif)
@import url(https://fonts.googleapis.com/css?family=Lora)
@import typography

body
    font-family: 'Lora', serif

a

    color:          black
    -moz-transition-property: background
    -webkit-transition-property: background
    transition-property: background
    -moz-transition-duration: 0.2s
    -webkit-transition-duration: 0.2s
    transition-duration: 0.2s
    border-radius: 3px

a:hover
    background: #E1FFEC
    -moz-transition-property: background
    -webkit-transition-property: background
    transition-property: background
    -moz-transition-duration: 0.2s
    -webkit-transition-duration: 0.2s
    transition-duration: 0.2s
    border-radius: 3px

h1
        font-family:    'cmu_sans_serif_demi_condemiCn', serif
        margin:         0

h1 a
        text-decoration: none


#navigation
    background-color: #FFF



    a
        font-family:    'cmu_sans_serif_demi_condemiCn', serif
        text-decoration: none
        color:          black
        display: block
        padding: 4pt 8pt

    ul
        margin: 0
        padding: 0
        list-style: none
        background-color: #FFF
        border-radius: 5pt 5pt 5pt 5pt


    li
        display: inline-block

hr
    padding: 0
    border: none
    border-top: medium double #555
    text-align: center

h1,h2,h3
    font-family: 'cmu_sans_serif_demi_condemiCn', serif

p
    text-align: justify

#center
    margin-left: auto
    margin-right: auto
    width: 500pt
    max-width: 100dvw